@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary-color: #F9506C;
  --secondary-color: #FFBE85;
  --tertiary-color: #0C9DF8;
  --background-color: #FDFDFD; 
  --title-text-color: #413707; 
  --formal-text-color: #343E45;
  --link-color: #1D4ED8;

  /* Font settings */
  --font-normal: 'Anybody', cursive;
  --font-header: 'Concert One', cursive;
  --font-thai: 'Noto Sans Thai', sans-serif;
  --font-title: 'Alike', serif;
  --font-size-base: 14px;
  --font-size-superheading: 4rem;
  --font-size-heading: 2rem;
  --font-size-subheading: 1.25rem;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  /* Borders */
  --border-radius: 8px;
  --border-width: 2px;

  /* Shadow */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Reset Tailwind Scrollbar */
* {
  scrollbar-width: auto !important;
  scrollbar-color: initial !important;
  font-size: var(--font-size-base);
}

*::-webkit-scrollbar {
  width: initial !important;
  height: initial !important;
}

*::-webkit-scrollbar-thumb {
  background: initial !important;
}

*::-webkit-scrollbar-track {
  background: initial !important;
}
/* ----------------------------- */

/* custom scrollbar size as default */
::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
}

@layer components {
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid var(--formal-text-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-color) !important;
    border: 3px solid var(--link-color) !important; 
    transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--formal-text-color) !important;
  }
}
/* ----------------------------- */

p, span, br, h1, h2, h3, h4, h5, h6, strong, em, a {
  color: var(--formal-text-color);
  font-family: var(--font-normal);
}

h1 {
  font-size: var(--font-size-superheading);
}

section {
  height: 100vh;
}

.App {
  height: 100%;
  width: 100%;
  /* padding: 0 40px; */
}

.ui-textcarousel-parallax {
  overflow: hidden;
  letter-spacing: 2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  /* border-top: solid var(--formal-text-color) 4px;
  border-bottom: solid var(--formal-text-color) 4px; */
}

.ui-textcarousel-scroller {
  font-weight: 600;
  padding: var(--spacing-medium) 0;
  font-size: var(--font-size-subheading);
  display: flex;
  flex-direction: row;
  position: relative;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.ui-textcarousel-scroller span {
  display: block;
  font-size: 32px;
  margin-right: 20px;
}